{% from '_macros' import image %}
{% set page_title = entry.title %}
{% extends '_base' %}
{% block content %}
<div class="container">
	<h1>{{ entry.title }}</h1>
	{% for fixture in entry.gameweekFixtures %}
		<p>{{ fixture.home[0].username }} v {{ fixture.away[0].username }}</p>
	{% endfor %}
</div>
{% endblock %}