{% set page_title = 'Gameweek History' %}
{% extends '_base' %}
{% block content %}
<div class="container">
	<h1>Gameweeks</h1>
	{% for gw in craft.entries.section( 'gameweek' ).order( 'gameweekDeadline asc' ) %}
		<p><a href="{{ gw.url }}">{{ gw.title }}</a></p>
		{% for fixture in gw.gameweekFixtures %}
			<p>{{ fixture.home[0].username }} v {{ fixture.away[0].username }}</p>
		{% endfor %}
	{% endfor %}
</div>
{% endblock %}