{% from '_macros' import image %}
{% set page_title = entry.title %}

{% extends '_base' %}

{% block content %}
<div class="container">
	<h1>{{ entry.title }}</h1>
	{% if entry.profilePhoto|length %}
		{{ image( entry.profilePhoto[0], 'profilePhoto', entry.title ) }}
	{% endif %}
</div>
{% endblock %}